.homepageDesktopWrap {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--primary-color);
}

.navbarDesktopContainer {
    display: flex;
    max-width: 1024px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.logoDesktop {
    color: #455451;
    font-family: Karla;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0.64px;
}