/* .NavBarMobile {
  display: none;
}

.NavBarDesktop {
  position: sticky;
  top: 0;
  display: none;
}

@media (max-width: 768px) {
  .NavBarMobile {
    display: block;
  }
}

@media (min-width: 769px) {
  .NavBarDesktop {
    display: block;
  }
}
 */