.patientHomepageContainer {
    display:flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width:100%;
  margin: 16px;
}
.headerPatient {
    margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 125px;
  width: 375px;
  gap: 0.5rem;


}
.homeIcon {
  width: 74px;
  height: 74px;
  aspect-ratio: 1/1;
}

.patientHeader{
    display:flex;
    flex-direction: column;
    gap:10px;
}

.patientName{
    font-size: 1.5rem;
    font-weight: 600;
    justify-self:left;
    font-family: "Inter", sans-serif;
    
}

.patientId {
    font-size: 1rem;
    justify-self:left;
    font-family: "Inter", sans-serif;
  
}