
.btnsPHomepageContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0.5px solid var(--border-color);
  background: var(--background-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.btnsPHomepageContainer button:active {
  background: var(--primary-color);
}

.btnsPHomepageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto;
  gap: 21px;
  justify-content: center;
  justify-items:baseline;
  align-content: center;
  align-items: center;
  max-width: 430px;
  min-width:340px;
  width: 100%;
  
}

.btnJournal {
  grid-column: 1/3;
  grid-row: 1;
  padding: 25px 20px;
  gap: 34px;
  width:100%;
}

.btnTestResults,
.btnPrescriptions {
  flex-direction: column;
  width: 100%;
  /* width: 160px; */
  height: 180px;
}

.btnTestResults {
  grid-column: 1;
  grid-row: 2;
  gap: 7px;
  padding-bottom: 11px;
  justify-self: start;
}

.btnTestResults img {
  padding-right: 10px;
  border-color: none;
}

.btnPrescriptions {
  grid-column: 2;
  grid-row: 2;
  gap: 10px;
  justify-self: end;
}



@media (min-width: 600px) and (max-width: 1024px) {
    .btnsPHomepageContainer {
      margin: 16px; 
      width: 100%;  
    }
  
    .btnTestResults,
    .btnPrescriptions {
      min-width: 200px;  
      min-height: 200px; 
    }
  

  }
  