:root {
  --text-color: #363F3D;    
  --background-color: #FFFFFF;
  --border-color: #D9D9D9;   
  --primary-color: #E3EAC4;   
  --hover-active-color: #C4CAAA;    
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

